/* /app/globals.css */

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  color: var(--color-text);
  background-color: var(--color-background);
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* ===== Block GRUNDFARBEN Beginn ===== */
:root {
  --color-white: #ffffff;
  --color-black: #000000;

  /* Farbvariablen für Primärfarbe */
  /* --color-blue-base: #3161e6; */
  /* Light level (0): 0% | Dark level (1000): 86% */
  --color-blue-50: #ebf0fd;
  --color-blue-100: #d8e1fa;
  --color-blue-200: #b1c3f6;
  --color-blue-300: #8aa5f1;
  --color-blue-400: #6387ec;
  --color-blue-500: #3b69e7;
  --color-blue-600: #1b4edc;
  --color-blue-700: #1640b5;
  --color-blue-800: #11328e;
  --color-blue-900: #0c2467;
  --color-blue-950: #0a1d53;

  /* Farbvariablen für Sekundärfarbe */
  /* --color-grey-base: #4b5563; */
  /* Light level (0): 0% | Dark level (1000): 80% */
  --color-grey-50: #f3f5f6;
  --color-grey-100: #e8eaed;
  --color-grey-200: #d1d5dc;
  --color-grey-300: #b9c0ca;
  --color-grey-400: #a2acb9;
  --color-grey-500: #8b97a7;
  --color-grey-600: #748295;
  --color-grey-700: #616e80;
  --color-grey-800: #4f5a68;
  --color-grey-900: #3e4651;
  --color-grey-950: #353c46;

  /* Farbvariablen für Schmuckfarbe Gelb */
  /* --color-yellow-base: #fbbf24; */
  /* Light level (0): 0% | Dark level (1000): 86% */
  --color-yellow-50: #fff9e9;
  --color-yellow-100: #fef2d4;
  --color-yellow-200: #fde6a9;
  --color-yellow-300: #fdd97e;
  --color-yellow-400: #fccd53;
  --color-yellow-500: #fbc028;
  --color-yellow-600: #f2b004;
  --color-yellow-700: #c79104;
  --color-yellow-800: #9c7103;
  --color-yellow-900: #715202;
  --color-yellow-950: #5c4302;

  /* Farbvariablen für Schmuckfarbe Orange */
  /* --color-orange-base: #f97316; */
  /* Light level (0): 0% | Dark level (1000): 80% */
  --color-orange-50: #fef3eb;
  --color-orange-100: #fee7d7;
  --color-orange-200: #fdcfaf;
  --color-orange-300: #fcb788;
  --color-orange-400: #fb9f60;
  --color-orange-500: #fa8838;
  --color-orange-600: #f97010;
  --color-orange-700: #db5d06;
  --color-orange-800: #b34c05;
  --color-orange-900: #8b3b04;
  --color-orange-950: #773303;

  /* Farbvariablen für Schmuckfarbe Rot */
  /* --color-red-base: #f00000; */
  /* Light level (0): 2% | Dark level (1000): 85% */
  --color-red-50: #ffe0e0;
  --color-red-100: #ffcaca;
  --color-red-200: #ffa0a0;
  --color-red-300: #ff7676;
  --color-red-400: #ff4b4b;
  --color-red-500: #ff2121;
  --color-red-600: #f60000;
  --color-red-700: #cb0000;
  --color-red-800: #a10000;
  --color-red-900: #770000;
  --color-red-950: #620000;

  /* Farbvariablen für Schmuckfarbe Grün */

  /* --color-green-base: #1d8b21; */
  /* Light level (0): 0% | Dark level (1000): 86% */
  --color-green-50: #edfbed;
  --color-green-100: #dbf7dc;
  --color-green-200: #b6f0b9;
  --color-green-300: #92e895;
  --color-green-400: #6ee172;
  --color-green-500: #4ad94f;
  --color-green-600: #2bcc30;
  --color-green-700: #23a828;
  --color-green-800: #1b841f;
  --color-green-900: #145f17;
  --color-green-950: #104d12;
}

/* ===== Block GRUNDFARBEN Ende ===== */

/* ===== Block THEMEFARBEN Beginn ===== */

[data-theme='light'] {
  /* Link Colors */
  --color-link: var(--color-blue-200);
  --color-link-hover: var(--color-blue-600);

  /* Text Colors */
  --color-text: var(--color-grey-950);
  --color-text-medium: var(--color-grey-500);
  --color-text-light: var(--color-grey-300);
  --color-title: var(--color-blue-700);

  /* Header & Footer Colors */
  --color-header-footer: var(--color-blue-800);
  --color-header-footer-text: var(--color-white);
  --color-modal-header: var(--color-blue-700);

  /* Background Colors */

  --color-background: var(--color-grey-50);
  --color-background-light: var(--color-white);
  --color-burger-menu-background: rgba(42, 59, 128, 0.9375);
  --color-accordion-title-background: var(--color-blue-700);
  --color-accordion-content-background: var(--color-white);

  /* Border Color */
  --color-border: var(--color-grey-200);

  /* Modal Colors */
  --color-modal: rgba(31, 41, 55, 0.75);
  --color-modal-text: var(--color-grey-50);

  /* Warning Colors */
  --color-check-warning: var(--color-red-300);
  --color-check-ok: var(--color-green-700);

  /* Star Colors */
  --star-color: var(--color-yellow-500);
  --star-focus-color: var(--color-yellow-400);
  --star-empty-color: var(--color-grey-200);

  /* ===== Block BUTTONS LIGHTTHEME Beginn ===== */

  /* Button Colors */
  --color-button-blue: var(--color-blue-700);
  --color-button-blue-hover: var(--color-blue-800);
  --color-button-grey: var(--color-grey-700);
  --color-button-grey-hover: var(--color-grey-900);

  /* Action Button Colors */
  --color-button-orange: var(--color-orange-600);
  --color-button-orange-hover: var(--color-orange-700);
  --color-button-red: var(--color-red-500);
  --color-button-red-hover: var(--color-red-600);
  --color-button-green: var(--color-green-600);
  --color-button-green-hover: var(--color-green-700);

  /* Button Text Color */
  --color-button-text: var(--color-white);

  /* Page Navigation Button Colors */
  --color-button-page-navigation: var(--color-blue-950);
  --color-button-page-navigation-hover: var(--color-blue-200);
  --color-button-page-navigation-icon: var(--color-blue-950);

  /* ===== Block BUTTONS LIGHTTHEME Ende ===== */
}

/* Dark Theme */
[data-theme='dark'] {
  /* Link Colors */
  --color-link: var(--color-blue-200);
  --color-link-hover: var(--color-blue-600);

  /* Text Colors */
  --color-text: var(--color-grey-50);
  --color-text-medium: var(--color-grey-300);
  --color-text-light: var(--color-grey-500);
  --color-title: var(--color-blue-200);

  /* Header & Footer Colors */
  --color-header-footer: var(--color-blue-900);
  --color-header-footer-text: var(--color-white);
  --color-modal-header: var(--color-blue-100);

  /* Background Colors */
  --color-background: var(--color-grey-900);
  --color-background-light: var(--color-grey-700);
  --color-burger-menu-background: rgba(12, 36, 103, 0.9375);
  --color-accordion-title-background: var(--color-blue-500);
  --color-accordion-content-background: var(--color-grey-800);

  /* Border Color */
  --color-border: var(--color-grey-600);

  /* Modal Colors */
  --color-modal: rgba(31, 41, 55, 0.85);
  --color-modal-text: var(--color-grey-50);

  /* Warning Colors */
  --color-check-warning: var(--color-red-400);
  --color-check-ok: var(--color-green-700);

  /* Star Colors */
  --star-color: var(--color-yellow-500);
  --star-focus-color: var(--color-yellow-400);
  --star-empty-color: var(--color-grey-600);

  /* ===== Block BUTTONS DARKTHEME Beginn ===== */

  /* Button Colors */
  --color-button-blue: var(--color-blue-800);
  --color-button-blue-hover: var(--color-blue-900);
  --color-button-grey: var(--color-grey-600);
  --color-button-grey-hover: var(--color-grey-800);

  /* Action Button Colors */
  --color-button-orange: var(--color-orange-700);
  --color-button-orange-hover: var(--color-orange-800);
  --color-button-red: var(--color-red-600);
  --color-button-red-hover: var(--color-red-700);
  --color-button-green: var(--color-green-700);
  --color-button-green-hover: var(--color-green-800);

  /* Button Text Color */
  --color-button-text: var(--color-white);

  /* Page Navigation Button Colors */
  --color-button-page-navigation: var(--color-blue-200);
  --color-button-page-navigation-hover: var(--color-blue-950);
  --color-button-page-navigation-icon: var(--color-blue-200);

  /* ===== Block BUTTONS DARKTHEME Ende ===== */
}

/* ===== Block THEMEFARBEN Ende ===== */

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  margin: 0.5rem;
  color: var(--color-text);
  background-color: var(--color-background);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.blinking-text {
  animation: blink 1s infinite;
}
