/* /app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme Colors */
:root {
  /* Link Colors */
  --color-link: #849fe8;
  --color-link-hover: #2c4da8;

  /* Text Colors */
  --color-text: #111827;
  --color-text-medium: #374151;
  --color-text-light: #6b7280;
  --color-title: #2c4da8;

  /* Header & Footer Colors */
  --color-header: #152d6d;
  --color-header-text: #ffffff;
  --color-modal-header: #07498b;
  --color-burger-menu-background: #2a3b80ef;

  /* Background Colors */
  --color-background: #f9fafb;
  --color-form-background: #ffffff;
  --color-modal-background: #ffffff;
  --color-input-background: #f3f4f6;

  /* Border Colors */
  --color-border: #e5e7eb;
  --color-input-border: #d1d5db;

  /* Modal Colors */
  --color-modal: rgba(31, 41, 55, 0.75);
  --color-modal-text: #f3f4f6;

  /* Review Card Colors */
  --color-review-card-background: var(--color-form-background);
  --color-review-card-border: #d1d5db;
  --color-review-header: var(--color-text);
  --color-review-text: var(--color-text-medium);
  --color-review-note: var(--color-text-light);

  /* Button Colors */
  --color-button-primary: #3161e6;
  --color-button-primary-hover: #1044b4;
  --color-button-secondary: #4b5563;
  --color-button-secondary-hover: #374151;
  --color-button-text: #ffffff;

  /* Action Button Colors */
  --color-button-review: #13b64f;
  --color-button-review-hover: #16a34a;
  --color-button-demo-review: #f97316;
  --color-button-demo-review-hover: #ea580c;
  --color-button-edit: var(--color-button-primary);
  --color-button-edit-hover: var(--color-button-primary-hover);
  --color-button-delete: #ef4444;
  --color-button-delete-hover: #dc2626;
  --color-button-page-navigation: #203a81;
  --color-button-page-navigation-hover: var(--color-link);
  --color-button-page-navigation-icon: #203a81;

  /* Authentication Button Colors */
  --color-button-login: var(--color-button-edit);
  --color-button-login-hover: var(--color-button-edit-hover);
  --color-button-register: var(--color-button-secondary);
  --color-button-register-hover: var(--color-button-secondary-hover);
  --color-button-logout: var(--color-button-delete);
  --color-button-logout-hover: var(--color-button-delete-hover);
  --color-button-ok: var(--color-button-review);
  --color-button-ok-hover: var(--color-button-review-hover);
  --color-button-cancel: var(--color-button-secondary);
  --color-button-cancel-hover: var(--color-button-secondary-hover);
  --color-button-forgot-password: var(--color-button-secondary);
  --color-button-forgot-password-hover: var(--color-button-secondary-hover);
  --color-button-demo-user: var(--color-button-secondary);
  --color-button-demo-user-hover: var(--color-button-secondary-hover);

  /* Warning Colors */
  --color-warning: #f87171;

  /* Star Colors */
  --star-color: #fbbf24;
  --star-empty-color: #d1d5db;
}

/* Dark Theme Colors */
[data-theme='dark'] {
  /* Link Colors */
  --color-link: #acc2ff;
  --color-link-hover: #6683d6;

  /* Text Colors */
  --color-text: #e5e7eb;
  --color-text-medium: #9ca3af;
  --color-text-light: #6b7280;
  --color-title: #acc2ff;

  /* Header & Footer Colors */
  --color-header: #152d6d;
  --color-header-text: #ffffff;
  --color-modal-header: #bbcdff;
  --color-burger-menu-background: #3c4b92ef;

  /* Background Colors */
  --color-background: #1f2937;
  --color-form-background: #2d3748;
  --color-modal-background: #424e61;
  --color-input-background: #333333;

  /* Border Colors */
  --color-border: #4b5563;
  --color-input-border: #4b5563;

  /* Modal Colors */
  --color-modal: rgba(31, 41, 55, 0.85);
  --color-modal-text: #f3f4f6;

  /* Review Card Colors */
  --color-review-card-background: var(--color-form-background);
  --color-review-card-border: #4b5563;
  --color-review-header: var(--color-text);
  --color-review-text: var(--color-text-medium);
  --color-review-note: var(--color-text-light);

  /* Button Colors */
  --color-button-primary: #004ecb;
  --color-button-primary-hover: #023bb6;
  --color-button-secondary: #5a5e63;
  --color-button-secondary-hover: #4a4b4d;
  --color-button-text: #ffffff;

  /* Action Button Colors */
  --color-button-review: #15803d;
  --color-button-review-hover: #166534;
  --color-button-demo-review: #d85007;
  --color-button-demo-review-hover: #ae3708;
  --color-button-edit: var(--color-button-primary);
  --color-button-edit-hover: var(--color-button-primary-hover);
  --color-button-delete: #b91c1c;
  --color-button-delete-hover: #991b1b;
  --color-button-page-navigation: #c6c9cf;
  --color-button-page-navigation-hover: var(--color-link-hover);
  --color-button-page-navigation-icon: #c6c9cf;

  /* Authentication Button Colors */
  --color-button-login: var(--color-button-edit);
  --color-button-login-hover: var(--color-button-edit-hover);
  --color-button-register: var(--color-button-secondary);
  --color-button-register-hover: var(--color-button-secondary-hover);
  --color-button-logout: var(--color-button-delete);
  --color-button-logout-hover: var(--color-button-delete-hover);
  --color-button-ok: var(--color-button-review);
  --color-button-ok-hover: var(--color-button-review-hover);
  --color-button-cancel: var(--color-button-secondary);
  --color-button-cancel-hover: var(--color-button-secondary-hover);
  --color-button-forgot-password: var(--color-button-secondary);
  --color-button-forgot-password-hover: var(--color-button-secondary-hover);

  /* Warning Colors */
  --color-warning: #f87171;

  /* Star Colors */
  --star-color: #fbbf24;
  --star-empty-color: #616161;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  margin: 0.5rem;
  color: var(--color-text);
  background-color: var(--color-background);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.blinking-text {
  animation: blink 1s infinite;
}
