@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Variables */

:root {
  --color-link: #3b82f6;
  --color-link-hover: #2563eb;
  --color-text: #111827;
  --color-text-medium: #6b7280;
  --color-text-light: #9ca3af;
  --color-header: #1f2937;
  --color-header-text: #ffffff;
  --color-footer: var(--color-header);
  --color-footer-text: var(--color-header-text);
  --color-button: #78909c;
  --color-button-hover: #b0bec5;
  --color-button-text: #ffffff;
  --color-button-review: #388e3c;
  --color-button-review-hover: #4caf50;
  --color-button-demo-review: #ee7f2b;
  --color-button-demo-review-hover: #f5a161;
  --color-button-edit: #1976d2;
  --color-button-edit-hover: #2196f3;
  --color-button-delete: #d32f2f;
  --color-button-delete-hover: #f44336;
  --color-button-login: var(--color-button-edit);
  --color-button-login-hover: var(--color-button-edit-hover);
  --color-button-signup: var(--color-button);
  --color-button-signup-hover: var(--color-button-hover);
  --color-button-logout: var(--color-button-delete);
  --color-button-logout-hover: var(--color-button-delete-hover);
  --color-button-ok: var(--color-button-review);
  --color-button-ok-hover: var(--color-button-review-hover);
  --color-button-cancel: var(--color-button);
  --color-button-cancel-hover: var(--color-button-hover);
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--color-text);
}

main {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin: 1.4rem;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.blinking-text {
  animation: blink 1s infinite;
}
